boxbot4k-html5/*.html linguist-vendored=false
boxbot4k-html5/optimization-phases/*.html linguist-vendored=false
boxbot4k-html5/optimization-phases/with-buttons/*.html linguist-vendored=false
boxbot4k-html5/self-contained/*.html linguist-vendored=false
